:root{
    --sizeText:16px;
    --sizeTextPhone: 24px;
    --grey:#f5f5f5;
    --lightBlue:#10ddc2;
    --darkBlue:#173753;
    --gradientBlueWhite:linear-gradient(90deg, rgba(16,221,194,0.05) 49%, rgba(255,255,255,0.9) 51%);
}
.library{
    padding:70px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    grid-gap: 15px;
    background: url('../../image/leaf6.png') 0.5% 98%/auto 400px no-repeat,
    url('../../image/leaf5.png') 107% 4%/370px auto no-repeat;
}
.library__block{
    background: var(--lightBlue);
    background: var(--gradientBlueWhite);
    display: grid;
    grid-template-columns: 140px 140px;
    border: 1px solid var(--grey);
    box-shadow: 1px 1px 2px 1px var(--grey);
    border-radius: 10px;
    padding: 15px 0px;
}
.library__word_eng, .library__word_ukr{
    color: var(--darkBlue);
    margin-left: 20px;
    font-size: var(--sizeText);
}
@media (max-width: 1280px) {
    .library{
        grid-template-columns: 250px 250px 250px;
        background: url('../../image/leaf6.png') 0% 100%/auto 300px no-repeat,
        url('../../image/leaf5.png') 107% 4%/300px auto no-repeat;
    }
    .library__block{
        grid-template-columns: 120px 120px;
        padding: 15px 0px;
    }
    .library__word_eng, .library__word_ukr{
        margin-left: 5px;

    }
}
@media (max-width: 1024px) {
    .library{
        background: url('../../image/leaf6.png') 0% 100%/auto 225px no-repeat,
        url('../../image/leaf5.png') 107% 4%/250px auto no-repeat;
    }
    .library__block{
        grid-template-columns: 130px 130px;
    }

}
@media (max-width: 820px) {
    .library{
        grid-template-columns: 250px 250px;
        background: url('../../image/leaf6.png') 3% 98%/auto 250px no-repeat,
        url('../../image/leaf5.png') 107% 4%/250px auto no-repeat;
    }
}
@media (max-width: 600px) {
    .library{
        grid-template-columns: 450px;
        background: url('../../image/leaf6.png') 0% 100%/auto 250px no-repeat,
        url('../../image/leaf5.png') 107% 0%/250px auto no-repeat;
    }
    .library__block{
        grid-template-columns: 220px 220px;
        padding: 15px 0px;
    }

    .library__word_eng, .library__word_ukr{
        margin-left: 10px;
        font-size: var(--sizeTextPhone);
    }
}
@media (max-width: 480px) {
    .library{
        grid-template-columns: 390px;
    }
    .library__block{
        grid-template-columns: 190px 190px;

    }
}